body {
	font-family: Helvetica, Arial, sans-serif;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cee1ed', endColorstr='#85b2d3',GradientType=0 ); /* IE6-9 */
	color:#000;
	padding:20px;
}
